$size_base: 16px;
$size_small: 8px;
$font_weight_base: bold;
$font_weight_bolder: bolder;
$font_weight_normal: normal;

.payslipContainer {
    .title {
        margin: 16px 0px 0px 0px;
    }

    table, th {
        border: 1px solid #ddd;
        text-align: left;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th {
        font-size: $size_base;
        font-weight: $font_weight_base;
        padding: 10px;
    }
    
    td {
        padding: 5px;
    }
}

.headerContainer {
    text-align: center;
    margin-bottom: 16px;
}

.detailsContainer {
   padding: 0 $size_base;
}

.detailsSubContainer {
    display: flex;
    justify-content: space-between;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

.textContainer {
    font-size: $size_base;
    font-weight: $font_weight_base;
    margin: 0;
    .textValue {
        font-weight: $font_weight_normal;
        margin: 0 8px;
    }
}

.contentContainer {
    display: flex;
    margin: 20px 0;
    //background-color: red;
    .column {
        width: 33.33%;
        padding: $size_small;
    }

    .remarks {
        padding: $size_base;
    }
}

.align {
    text-align: end;
}

.alignStart {
    text-align: end;
}

.alignCenter {
    text-align: center;
}

.loanBalances {
    table, th {
        border: none;
    }

    th {
        border-bottom: 2px solid #ddd;
    }
}