@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.react-datepicker__input-container {
    input {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        padding: 5px;
    }
}